.tableContainer {
    width: 500px;
    margin: 20px auto;
}

.tableContainer table {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

.tableContainer th,
.tableContainer td {
    border: 1px solid black;
}

.typeColumn {
    text-align: left;
    padding-left: 50px;
}

.tableHead {

    color: white;
    background-color: rgb(87, 87, 87);
}

.tableHead th {
    width: calc(100% / 3);
}

.tableBody tr:nth-child(2n) {
    background-color: rgb(189, 189, 189);
}